<div class="wrapper">
  <h2 class="text-center"> Charge Code</h2>
  <!-- <button class="btn ui-button-icon-secondary" (click)="addUser()"> Add User</button> -->
</div>
<div class="container">
  <div class="table table-striped" id="customers" style="overflow-x:auto;">
    <table>
      <thead>
      <tr>
        <th>Charge Code</th>
        <th>Charge Description</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody id="myTable">
      <tr *ngFor="let user of chargeCode">
        <td>{{user.chargeCode}}</td>
        <td>{{user.chargeDescription}}</td>
        <td>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteChargeCode(user)">Delete
          </button>
          <button class="btn btn-danger" (click)="editChargeCode(user)" style="margin-left: 10px;"> Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn ui-button-icon-secondary" routerLink="/charge-codes/create"> Add Charge Code</button>
  </div>
</div>
