<div class="wrapper">
  <h2 class="text-center"> Outcome Code</h2>
  <!-- <button class="btn ui-button-icon-secondary" (click)="addUser()"> Add User</button> -->
</div>
<div class="container">
  <div class="table table-striped" id="customers" style="overflow-x:auto;">
    <table>
      <thead>
      <tr>
        <th>Outcome Code</th>
        <th>Outcome Desciption</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody id="myTable">
      <tr *ngFor="let user of outcomesCode">
        <td>{{user.outcomeCodes}}</td>
        <td>{{user.outcomeDescription}}</td>
        <td>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteOutcomeCode(user)">Delete
          </button>
          <button class="btn btn-danger" (click)="editOutcomeCode(user)" style="margin-left: 10px;"> Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn ui-button-icon-secondary" routerLink="/outcome-codes/create"> Add Outcome Code</button>
  </div>
</div>
